<div class="grid grid-rows-[auto_1fr_auto] h-full">
  <div></div>
  <div
    class="bg-white w-full max-w-xl overflow-scroll-helper gap-6 justify-center justify-self-center"
    appSwipe
    (swipe)="handleSwipe($event)"
  >
    @for( day of store.days(); track day){
    <button class="text-5xl font-bold text-center relative">
      @if(day.dayofWeek === selectedDay()){
      <!-- <app-circle class="absolute -translate-x-10 -translate-y-12" /> -->
      }
      {{ day.dayofWeek }}
      <div class="text-sm">{{ day.date | date }}</div>
    </button>
    }
  </div>
  <div><button>Share</button></div>
</div>
