:80 {
  root * /srv

  # Handle API requests first with higher priority
  @api {
    path_regexp api ^/api/.*
  }
  reverse_proxy @api nxtime-api:8000

  # Then handle static files
  file_server

  # Finally, for any path not found, serve index.html
  @notFound {
    not file
    not path /api/*
  }
  rewrite @notFound /index.html
}
