:80 {
  root * /srv

  # First, handle API requests
  @api path /api/*
  reverse_proxy @api nxtime-api:8000

  # Then serve the Angular app
  file_server
  try_files {path} /index.html

  log {
    output stdout
    level DEBUG
  }
}
